@media only screen and (min-width: 32.5em) {
    footer {
        height: 50px;
    }

    .navigation a {
        padding: 15px;
    }

    .center{
        text-align: left;
        margin-left: 2%;
    }

    #content {
        width: 70%;
        position: absolute;
        right: 15%;
        left: auto;
        top: 2%;
        border: 5px solid #4c96d7;
        border-radius: 1%;
    }

    #upgrades {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column: 1;
        margin: auto;
        max-width: 500px;
    }

    #upgradehead {
        text-align: left;
    }

    #reviews {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column: 2;
    }

    #reviews h2 {
        margin-top: -50px;
    }

    #uprev {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #background {
        background-image: url(/phpmotors/images/site/checkerboard.jpg);
    }

    input[type=text], [type=password], [type=number], select {
        width: 15%;
    }

    input[type=email] {
        width: 15%;
    }

    #inv-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #inv-display h2{
		font-size: 1rem;
    }

    #inv-display li img {
        height: 150px;
    }

    .inv-break {
        display: none;
    }

    #inv-display li{
        border: 1px #ccc solid;
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    }

    #image-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #image-display h2{
		font-size: 1rem;
    }

    #image-display li{
		flex: 1 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    }
}